.wrapper {
  padding: 24px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progressWrapper {
  display: flex;
  gap: 5px;
}

.progress {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}
