.wrapper {
  height: 140px;
  display: flex;
  justify-content: flex-start;
  padding: 24px;
  gap: 32px;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progressWrapper {
  display: flex;
  gap: 5px;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
}
